.pages-toolbar {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: var(--mat-sidenav-container-background-color);
}
.mat-mdc-tab-group{
    background-color: var(--mat-sidenav-container-background-color);
}

.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}