.components-list {
   display: block;
    line-height: 50px;
    border-bottom: 1px solid var(--border-color);
    user-select: none;
    padding: 3px;
    width: 200px;
 }

 button {
   width: 100%;
   height: 50px;
   cursor: grab !important;
   padding: 20px;
   margin-bottom: 6px;
 }

 button:active {
    cursor: grabbing !important;
 }