<mat-toolbar class="toolbar" color="primary">
    <app-nav></app-nav>
  </mat-toolbar>
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container> 
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
          
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              @for(action of element.actions; track action.name){
                <button mat-flat-button (click)="action.onClick($event)">
                  <mat-icon [color]="action.color" >{{action.icon}}</mat-icon>
                </button>
              }            
            </td>
        </ng-container> 
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator 
        showFirstLastButtons
        [length]="100"
        [pageSize]="5"
        [pageSizeOptions]="[10, 20,50]"
        aria-label="Select page">
      </mat-paginator>
    </div>
    