<input type="file" class="file-input" (change)="onImport($event)" #fileUpload hidden>
<mat-toolbar class="toolbar" color="primary">
    <button class="button" mat-flat-button (click)="fileUpload.click()">Import</button>
    <button class="button" mat-flat-button (click)="onExport()">Export</button>
    <button class="button" mat-flat-button (click)="onSave()">Save</button>
</mat-toolbar>
<mat-drawer-container class="designer-container">
    <mat-drawer mode="side" opened>
        <div class="collections-container">
            <app-step-selector [items]="components"></app-step-selector>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div #drawflow id="drawflow" (drop)="onDrop($event)" (dragover)="allowDrop($event)"></div>
    </mat-drawer-content>
</mat-drawer-container>